html,
        body {
            height: 100%;
        }

        .navbar {
            margin-bottom: 0;
        }

        header {
            background-image: url("../img/castelo.jpg");
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }

        .banner-menor {
            color: #fff;
            background-color: rgba(0, 0, 0, .5);
            padding: 20px;
            width: 80%;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .2s;
        }

        #paineis-sobre {
            margin-top: 20px;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            margin-top: 10px;
            text-align: center;
        }

        footer,address:last-child{
            margin-bottom: 0;
        }

        .titulo-depoimentos {
            background-color: blue;
            border-radius: 15px 15px 0 0;
            padding-top: 30px;
            padding-bottom: 25px;
            color: #fff;
            font-size: 24px;
        }

        
        .contato-select {
            display: inline-block;
            width: 50%;
            vertical-align: top;
        }

        @media(min-width: 992px) {
            .banner-menor {
                left: 10%;
                transform: translate(0, -80%);
                width: 50%;
            }

            .banner-maior {
                position: relative;
                height: 100%;
            }

            .jumbotron {
                margin-top: 20px;
            }

        }

        @media(min-width: 768px) {
            #paineis-sobre {
                margin-top: 20px;
            }
        }